*.o
*.data
*.log
att.t
autocomplete.t
cmd.t
color.t
config.t
date.t
directory.t
duration.t
file.t
filt.t
grid.t
json.t
lisp.t
list.t
nibbler.t
path.t
record.t
rectangle.t
rx.t
sensor.t
seq.t
subst.t
t.benchmark.t
t.t
taskmod.t
tdb.t
text.t
transport.t
tree.t
tree2.t
uri.t
util.t
variant.t
