[submodule "src/libshared"]
	path = src/libshared
	url = https://github.com/GothenburgBitFactory/libshared.git
[submodule "cmake/CMakeRust"]
	path = cmake/CMakeRust
	url = https://github.com/Devolutions/CMakeRust
[submodule "src/taskchampion"]
	path = src/taskchampion
	url = https://github.com/taskchampion/taskchampion
