cmake.h
auto.h
commit.h
Makefile
src/task
src/libtask.a
src/commands/libcommands.a
src/columns/libcolumns.a
src/shell/libtasksh.a
src/shell/tasksh
*~
.*.swp
package-config/osx/binary/task
CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
_CPack_Packages
CPackConfig.cmake
CPackSourceConfig.cmake
patches
