aclocal.m4
autom4te.cache
auto.h*
config.h.in
config.status
src/.deps
src/Makefile
*/*task
*/*libtask.a
stamp-h1
Makefile
Makefile.in
configure
config.log
www.xls
src/tests/all.log
src/tests/*.data
*~
.*.swp
package-config/osx/binary/task
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
_CPack_Packages
CPackConfig.cmake
CPackSourceConfig.cmake
