cmake.h
auto.h
commit.h
Makefile
*/*task
*/*libtask.a
*~
.*.swp
package-config/osx/binary/task
CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
_CPack_Packages
CPackConfig.cmake
CPackSourceConfig.cmake
