###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/nl-BE/2015.json
# http://holidata.net/nl-BE/2016.json
#
# Copyright 2006 - 2016, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.nl-BE1.name=Nieuwjaar
holiday.nl-BE1.date=20150101
holiday.nl-BE2.name=Pasen
holiday.nl-BE2.date=20150405
holiday.nl-BE3.name=Paasmaandag
holiday.nl-BE3.date=20150406
holiday.nl-BE4.name=Dag van de arbeid
holiday.nl-BE4.date=20150501
holiday.nl-BE5.name=Onze Lieve Heer hemelvaart
holiday.nl-BE5.date=20150514
holiday.nl-BE6.name=Pinksteren
holiday.nl-BE6.date=20150524
holiday.nl-BE7.name=Pinkstermaandag
holiday.nl-BE7.date=20150525
holiday.nl-BE8.name=Nationale feestdag
holiday.nl-BE8.date=20150721
holiday.nl-BE9.name=Onze Lieve Vrouw hemelvaart
holiday.nl-BE9.date=20150815
holiday.nl-BE10.name=Allerheiligen
holiday.nl-BE10.date=20151101
holiday.nl-BE11.name=Wapenstilstand
holiday.nl-BE11.date=20151111
holiday.nl-BE12.name=Kerstmis
holiday.nl-BE12.date=20151225
holiday.nl-BE13.name=Nieuwjaar
holiday.nl-BE13.date=20160101
holiday.nl-BE14.name=Pasen
holiday.nl-BE14.date=20160327
holiday.nl-BE15.name=Paasmaandag
holiday.nl-BE15.date=20160328
holiday.nl-BE16.name=Dag van de arbeid
holiday.nl-BE16.date=20160501
holiday.nl-BE17.name=Onze Lieve Heer hemelvaart
holiday.nl-BE17.date=20160505
holiday.nl-BE18.name=Pinksteren
holiday.nl-BE18.date=20160515
holiday.nl-BE19.name=Pinkstermaandag
holiday.nl-BE19.date=20160516
holiday.nl-BE20.name=Nationale feestdag
holiday.nl-BE20.date=20160721
holiday.nl-BE21.name=Onze Lieve Vrouw hemelvaart
holiday.nl-BE21.date=20160815
holiday.nl-BE22.name=Allerheiligen
holiday.nl-BE22.date=20161101
holiday.nl-BE23.name=Wapenstilstand
holiday.nl-BE23.date=20161111
holiday.nl-BE24.name=Kerstmis
holiday.nl-BE24.date=20161225
