################################################################################
# Sample calendar for the UK
#
# taskwarrior - a command line task list manager.
#
# Copyright 2010 - 2011, Federico Hernandez.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the
#
#     Free Software Foundation, Inc.,
#     51 Franklin Street, Fifth Floor,
#     Boston, MA
#     02110-1301
#     USA
#
################################################################################

calendar.holidays=sparse

# 2011
holiday.newyear.name=New Year's Day
holiday.newyear.date=20110101
holiday.goodfriday.name=Good Friday
holiday.goodfriday.date=20110422
holiday.eastermonday.name=Easter Monday
holiday.eastermonday.date=20110425
holiday.may.name=Early May Bank Holiday
holiday.may.name=20110502
holiday.spring.name=Spring Bank Holiday
holiday.spring.name=20110530
holiday.august.name=August Bank Holiday
holiday.august.name=20110829
holiday.christmas.name=Christmas Day
holiday.christmas.date=20111225
holiday.boxingday.name=Boxing Day
holiday.boxingday.date=20111226

