################################################################################
# Sample calendar for Norway
#
# taskwarrior - a command line task list manager.
#
# Copyright 2006-2011, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
################################################################################

calendar.holidays=sparse

# 2011
holiday.nyttårsdag.name=Nyttårsdag
holiday.nyttårsdag.date=20110101
holiday.fastelavn.name=Fastelavn
holiday.fastelavn.date=20110306
holiday.palmesøndag.name=Palmesøndag
holiday.palmesøndag.date=20110417
holiday.skjærtorsdag.name=Skjærtorsdag
holiday.skjærtorsdag.date=20110421
holiday.langfredag.name=Langfredag
holiday.langfredag.date=20110422
holiday.påskedag.name=Påskedag
holiday.påskedag.date=20110424
holiday.påskedag2.name=Påskedag
holiday.påskedag2.date=20110425
holiday.offentlighøytidsdag.name=Offentlig Høytidsdag
holiday.offentlighøytidsdag.date=20110501
holiday.frigjøringsdag.name=Frigjøringsdag 1945
holiday.frigjøringsdag.date=20110508
holiday.grunnlovsdag.name=Grunnlovsdag
holiday.grunnlovsdag.date=20110517
holiday.KristiHimmelfartsdag.name=Kristi Himmelfartsdag
holiday.KristiHimmelfartsdag.date=20110602
holiday.pinsedag.name=Pinsedag
holiday.pinsedag.date=20110612
holiday.pinsedag2.name=Pinsedag
holiday.pinsedag2.date=20110613
holiday.julaften.name=Julaften
holiday.julaften.date=20111224
holiday.juledag.name=Juledag
holiday.juledag.date=20111225
holiday.juledag2.name=Juledag
holiday.juledag2.date=20111226
holiday.nyttårsaften.name=Nyttårsaften
holiday.nyttårsaften.date=20111231

# 2012
#holiday.nyttårsdag.name=Nyttårsdag
#holiday.nyttårsdag.date=20120101
#holiday.fastelavn.name=Fastelavn
#holiday.fastelavn.date=20120219
#holiday.palmesøndag.name=Palmesøndag
#holiday.palmesøndag.date=20120401
#holiday.skjærtorsdag.name=Skjærtorsdag
#holiday.skjærtorsdag.date=20120405
#holiday.langfredag.name=Langfredag
#holiday.langfredag.date=20120406
#holiday.påskedag.name=Påskedag
#holiday.påskedag.date=20120408
#holiday.påskedag2.name=Påskedag
#holiday.påskedag2.date=20120409
#holiday.offentlighøytidsdag.name=Offentlig Høytidsdag
#holiday.offentlighøytidsdag.date=20120501
#holiday.frigjøringsdag.name=Frigjøringsdag 1945
#holiday.frigjøringsdag.date=20120508
#holiday.grunnlovsdag.name=Grunnlovsdag
#holiday.grunnlovsdag.date=20120517
#holiday.KristiHimmelfartsdag.name=Kristi Himmelfartsdag
#holiday.KristiHimmelfartsdag.date=20120517
#holiday.pinsedag.name=Pinsedag
#holiday.pinsedag.date=20120527
#holiday.pinsedag2.name=Pinsedag
#holiday.pinsedag2.date=20120528
#holiday.julaften.name=Julaften
#holiday.julaften.date=20121224
#holiday.juledag.name=Juledag
#holiday.juledag.date=20121225
#holiday.juledag2.name=Juledag
#holiday.juledag2.date=20121226
#holiday.nyttårsaften.name=Nyttårsaften
#holiday.nyttårsaften.date=20121231

