###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/en-IN/2015.json
# http://holidata.net/en-IN/2016.json
#
# Copyright 2006 - 2016, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.en-IN1.name=New Year's Day
holiday.en-IN1.date=20160101
holiday.en-IN2.name=Lohri
holiday.en-IN2.date=20160114
holiday.en-IN3.name=Pongal, Makar Sankranti
holiday.en-IN3.date=20160115
holiday.en-IN4.name=Guru Gobind Singh Jayanti
holiday.en-IN4.date=20160116
holiday.en-IN5.name=Republic Day
holiday.en-IN5.date=20160126
holiday.en-IN6.name=Vasant Panchami
holiday.en-IN6.date=20160212
holiday.en-IN7.name=Guru Ravidas Jayanti
holiday.en-IN7.date=20160222
holiday.en-IN8.name=Maha Shivaratri
holiday.en-IN8.date=20160307
holiday.en-IN9.name=Chhoti Holi, Holika Dahan
holiday.en-IN9.date=20160323
holiday.en-IN10.name=Holi
holiday.en-IN10.date=20160324
holiday.en-IN11.name=Good Friday
holiday.en-IN11.date=20160325
holiday.en-IN12.name=Easter
holiday.en-IN12.date=20160327
holiday.en-IN13.name=Gudi Padwa, Ugadi
holiday.en-IN13.date=20160408
holiday.en-IN14.name=Solar New Year, Baisakhi
holiday.en-IN14.date=20160413
holiday.en-IN15.name=Rama Navami
holiday.en-IN15.date=20160415
holiday.en-IN16.name=Hazarat Ali's Birthday
holiday.en-IN16.date=20160421
holiday.en-IN17.name=Buddha Purnima
holiday.en-IN17.date=20160521
holiday.en-IN18.name=Eid al-Fitr , Ramadan
holiday.en-IN18.date=20160707
holiday.en-IN19.name=Independence Day
holiday.en-IN19.date=20160815
holiday.en-IN20.name=Rakhi, Raksha Bandhan
holiday.en-IN20.date=20160818
holiday.en-IN21.name=Krishna Janmashtami
holiday.en-IN21.date=20160825
holiday.en-IN22.name=Ganesh Chaturthi
holiday.en-IN22.date=20160905
holiday.en-IN23.name=Onam, Eid al-Adha, Bakrid
holiday.en-IN23.date=20160913
holiday.en-IN24.name=Gandhi Jayanti
holiday.en-IN24.date=20161002
holiday.en-IN25.name=Durga Ashtami
holiday.en-IN25.date=20161009
holiday.en-IN26.name=Maha Navami
holiday.en-IN26.date=20161010
holiday.en-IN27.name=Dussehra, Madhvacharya Jayanti
holiday.en-IN27.date=20161011
holiday.en-IN28.name=Muharram
holiday.en-IN28.date=20161012
holiday.en-IN29.name=Valmiki Jayanti
holiday.en-IN29.date=20161016
holiday.en-IN30.name=Karwa Chauth
holiday.en-IN30.date=20161019
holiday.en-IN31.name=Diwali, Lakshmi Puja
holiday.en-IN31.date=20161030
holiday.en-IN32.name=Gowardhan Puja
holiday.en-IN32.date=20161031
holiday.en-IN33.name=Bhaiya Dooj
holiday.en-IN33.date=20161101
holiday.en-IN34.name=Chhath Puja
holiday.en-IN34.date=20161106
holiday.en-IN35.name=Guru Nanak Jayanti, Nehru Jayanti
holiday.en-IN35.date=20161114
holiday.en-IN36.name=Milad an-Nabi, Id-e-Milad
holiday.en-IN36.date=20161212
holiday.en-IN37.name=Christmas
holiday.en-IN37.date=20161225
