###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/pl-PL/2015.json
# http://holidata.net/pl-PL/2016.json
#
# Copyright 2006 - 2016, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.pl-PL1.name=Nowy Rok
holiday.pl-PL1.date=20150101
holiday.pl-PL2.name=Trzech Króli
holiday.pl-PL2.date=20150106
holiday.pl-PL3.name=Wielkanoc
holiday.pl-PL3.date=20150405
holiday.pl-PL4.name=Poniedziałek Wielkanocny
holiday.pl-PL4.date=20150406
holiday.pl-PL5.name=Święto Pracy
holiday.pl-PL5.date=20150501
holiday.pl-PL6.name=Święto Konstytucji Trzeciego Maja
holiday.pl-PL6.date=20150503
holiday.pl-PL7.name=Zielone Świątki
holiday.pl-PL7.date=20150524
holiday.pl-PL8.name=Boże Ciało
holiday.pl-PL8.date=20150604
holiday.pl-PL9.name=Święto Wojska Polskiego
holiday.pl-PL9.date=20150815
holiday.pl-PL10.name=Wniebowzięcia NMP
holiday.pl-PL10.date=20150815
holiday.pl-PL11.name=Wszystkich Świętych
holiday.pl-PL11.date=20151101
holiday.pl-PL12.name=Dzień Niepodległości
holiday.pl-PL12.date=20151111
holiday.pl-PL13.name=Boże Narodzenie (pierwszy dzień)
holiday.pl-PL13.date=20151225
holiday.pl-PL14.name=Boże Narodzenie (drugi dzień)
holiday.pl-PL14.date=20151226
holiday.pl-PL15.name=Nowy Rok
holiday.pl-PL15.date=20160101
holiday.pl-PL16.name=Trzech Króli
holiday.pl-PL16.date=20160106
holiday.pl-PL17.name=Wielkanoc
holiday.pl-PL17.date=20160327
holiday.pl-PL18.name=Poniedziałek Wielkanocny
holiday.pl-PL18.date=20160328
holiday.pl-PL19.name=Święto Pracy
holiday.pl-PL19.date=20160501
holiday.pl-PL20.name=Święto Konstytucji Trzeciego Maja
holiday.pl-PL20.date=20160503
holiday.pl-PL21.name=Zielone Świątki
holiday.pl-PL21.date=20160515
holiday.pl-PL22.name=Boże Ciało
holiday.pl-PL22.date=20160526
holiday.pl-PL23.name=Święto Wojska Polskiego
holiday.pl-PL23.date=20160815
holiday.pl-PL24.name=Wniebowzięcia NMP
holiday.pl-PL24.date=20160815
holiday.pl-PL25.name=Wszystkich Świętych
holiday.pl-PL25.date=20161101
holiday.pl-PL26.name=Dzień Niepodległości
holiday.pl-PL26.date=20161111
holiday.pl-PL27.name=Boże Narodzenie (pierwszy dzień)
holiday.pl-PL27.date=20161225
holiday.pl-PL28.name=Boże Narodzenie (drugi dzień)
holiday.pl-PL28.date=20161226
