################################################################################
# Sample calendar for IT
#
# taskwarrior - a command line task list manager.
#
# Copyright 2006-2011, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
################################################################################

calendar.holidays=sparse

# 2011

# fisse (legali)
holiday.capodanno.name=Capodanno
holiday.capodanno.date=20110101
holiday.sanmarco.name=Festa della liberazione
holiday.sanmarco.date=20110425
holiday.lavoratori.name=Festa del lavoro
holiday.lavoratori.date=20110501
holiday.repubblica.name=Festa della repubblica
holiday.repubblica.date=20110602

# fisse (cristiane)
holiday.epifania.name=Epifania
holiday.epifania.date=20110106
holiday.ferragosto.name=Assunzione (ferragosto)
holiday.ferragosto.date=20110815
holiday.ognissanti.name=Ognissanti
holiday.ognissanti.date=20111101
holiday.madonna.name=Immacolata concezione
holiday.madonna.date=20111208
holiday.natale.name=Natale
holiday.natale.date=20111225
holiday.sstefano.name=S.to Stefano
holiday.sstefano.date=20111226

# variabili (cristiane)
holiday.carnevale.name=Carnevale
holiday.carnevale.date=20110308
holiday.pasqua.name=Pasqua
holiday.pasqua.date=20110424
# nel 2011 coincide con la festa della liberazione
#holiday.pasqua.name=Pasquetta
#holiday.pasqua.date=20110425

# 2012

