###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/nl-NL/2013.json
# http://holidata.net/nl-NL/2014.json
#
# Copyright 2006 - 2014, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.nl-NL1.name=Nieuwjaar
holiday.nl-NL1.date=20130101
holiday.nl-NL2.name=Goede Vrijdag
holiday.nl-NL2.date=20130329
holiday.nl-NL3.name=Pasen
holiday.nl-NL3.date=20130331
holiday.nl-NL4.name=Tweede Pasdag
holiday.nl-NL4.date=20130401
holiday.nl-NL5.name=Koninginnedag
holiday.nl-NL5.date=20130430
holiday.nl-NL6.name=Dodenherdenking
holiday.nl-NL6.date=20130504
holiday.nl-NL7.name=Bevrijdingsdag
holiday.nl-NL7.date=20130505
holiday.nl-NL8.name=Hemelvaartsdag
holiday.nl-NL8.date=20130509
holiday.nl-NL9.name=Pinksteren
holiday.nl-NL9.date=20130519
holiday.nl-NL10.name=Tweede Pinksterdag
holiday.nl-NL10.date=20130520
holiday.nl-NL11.name=Sinterklaas
holiday.nl-NL11.date=20131205
holiday.nl-NL12.name=Koninkrijksdag
holiday.nl-NL12.date=20131215
holiday.nl-NL13.name=Kerstmis
holiday.nl-NL13.date=20131225
holiday.nl-NL14.name=Tweede Kerstdag
holiday.nl-NL14.date=20131226
