################################################################################
# Sample calendar for Canada
#
# taskwarrior - a command line task list manager.
#
# Copyright 2010, Cory Donnelly.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the
#
#     Free Software Foundation, Inc.,
#     51 Franklin Street, Fifth Floor,
#     Boston, MA
#     02110-1301
#     USA
#
################################################################################

calendar.holidays=sparse

# 2010
holiday.labourday.name=Labour Day
holiday.labourday.date=20100906
holiday.thanksgiving.name=Thanksgiving Day
holiday.thanksgiving.date=20101011
holiday.remembranceday.name=Remembrance Day
holiday.remembranceday.date=20101111
holiday.christmasday.name=Christmas Day
holiday.christmasday.date=20101225
holiday.boxingday.name=Boxing Day
holiday.boxingday.date=20101226
holiday.newyearseve.name=New Year's Eve
holiday.newyearseve.date=20101231

# 2011
holiday.newyearsday.name=New Year's Day
holiday.newyearsday.date=20110101
holiday.familyday.name=Family Day
holiday.familyday.date=20110117
holiday.goodfriday.name=Good Friday
holiday.goodfriday.date=20110422
holiday.eastermonday.name=Easter Monday
holiday.eastermonday.date=20110425
holiday.victoriaday.name=Victoria Day
holiday.victoriaday.date=20110524
holiday.canadaday.name=Canada Day
holiday.canadaday.date=20110701
holiday.firstmondayofaugust.name=First Monday of August
holiday.firstmondayofaugust.date=20110801

# Commented out to prevent collision with names of 2010 holidays
# that haven't happened yet

#holiday.labourday.name=Labour Day
#holiday.labourday.date=20110905
#holiday.thanksgiving.name=Thanksgiving Day
#holiday.thanksgiving.date=20111010
#holiday.remembranceday.name=Remembrance Day
#holiday.remembranceday.date=20111111
#holiday.christmasday.name=Christmas Day
#holiday.christmasday.date=20111225
#holiday.boxingday.name=Boxing Day
#holiday.boxingday.date=20111226
#holiday.newyearseve.name=New Year's Eve
#holiday.newyearseve.date=20111231
