################################################################################
# Sample calendar for Canada
#
# taskwarrior - a command line task list manager.
#
# Copyright 2006-2012, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
################################################################################

calendar.holidays=sparse

# 2011
holiday.newyearsday.name=New Year's Day
holiday.newyearsday.date=20110101
holiday.familyday.name=Family Day
holiday.familyday.date=20110117
holiday.goodfriday.name=Good Friday
holiday.goodfriday.date=20110422
holiday.eastermonday.name=Easter Monday
holiday.eastermonday.date=20110425
holiday.victoriaday.name=Victoria Day
holiday.victoriaday.date=20110524
holiday.canadaday.name=Canada Day
holiday.canadaday.date=20110701
holiday.firstmondayofaugust.name=First Monday of August
holiday.firstmondayofaugust.date=20110801
holiday.labourday.name=Labour Day
holiday.labourday.date=20110905
holiday.thanksgiving.name=Thanksgiving Day
holiday.thanksgiving.date=20111010
holiday.remembranceday.name=Remembrance Day
holiday.remembranceday.date=20111111
holiday.christmasday.name=Christmas Day
holiday.christmasday.date=20111225
holiday.boxingday.name=Boxing Day
holiday.boxingday.date=20111226
holiday.newyearseve.name=New Year's Eve
holiday.newyearseve.date=20111231

