################################################################################
# Sample calendar for JP
#
# taskwarrior - a command line task list manager.
#
# Copyright 2006-2012, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
################################################################################

calendar.holidays=sparse

# 2011
holiday.元日.name=元日
holiday.元日.date=20110101
holiday.成人の日.name=成人の日
holiday.成人の日.date=20110110
holiday.建国記念の日.name=建国記念の日
holiday.建国記念の日.date=20110211
holiday.春分の日.name=春分の日
holiday.春分の日.date=20110321
holiday.昭和の日.name=昭和の日
holiday.昭和の日.date=20110429
holiday.憲法記念日.name=憲法記念日
holiday.憲法記念日.date=20110503
holiday.みどりの日.name=みどりの日
holiday.みどりの日.date=20110504
holiday.こどもの日.name=こどもの日
holiday.こどもの日.date=20110505
holiday.海の日.name=海の日
holiday.海の日.date=20110718
holiday.敬老の日.name=敬老の日
holiday.敬老の日.date=20110919
holiday.秋分の日.name=秋分の日
holiday.秋分の日.date=20110923
holiday.体育の日.name=体育の日
holiday.体育の日.date=20111010
holiday.文化の日.name=文化の日
holiday.文化の日.date=20111103
holiday.勤労感謝の日.name=勤労感謝の日
holiday.勤労感謝の日.date=20111123
holiday.天皇誕生日.name=天皇誕生日
holiday.天皇誕生日.date=20111223

# 2012
#holiday.元日.name=元日
#holiday.元日.date=20120101
#holiday.振替休日.name=振替休日
#holiday.振替休日.date=20120102
#holiday.成人の日.name=成人の日
#holiday.成人の日.date=20120109
#holiday.建国記念の日.name=建国記念の日
#holiday.建国記念の日.date=20120211
#holiday.春分の日.name=春分の日
#holiday.春分の日.date=20120320
#holiday.昭和の日.name=昭和の日
#holiday.昭和の日.date=20120429
#holiday.振替休日.name=振替休日
#holiday.振替休日.date=20120430
#holiday.憲法記念日.name=憲法記念日
#holiday.憲法記念日.date=20120503
#holiday.みどりの日.name=みどりの日
#holiday.みどりの日.date=20120504
#holiday.こどもの日.name=こどもの日
#holiday.こどもの日.date=20120505
#holiday.海の日.name=海の日
#holiday.海の日.date=20120716
#holiday.敬老の日.name=敬老の日
#holiday.敬老の日.date=20120917
#holiday.秋分の日.name=秋分の日
#holiday.秋分の日.date=20120922
#holiday.体育の日.name=体育の日
#holiday.体育の日.date=20121008
#holiday.文化の日.name=文化の日
#holiday.文化の日.date=20121103
#holiday.勤労感謝の日.name=勤労感謝の日
#holiday.勤労感謝の日.date=20121123
#holiday.天皇誕生日.name=天皇誕生日
#holiday.天皇誕生日.date=20121223
#holiday.振替休日.name=振替休日
#holiday.振替休日.date=20121224

# 2013
#holiday.元日.name=元日
#holiday.元日.date=20130101
#holiday.成人の日.name=成人の日
#holiday.成人の日.date=20130114
#holiday.建国記念の日.name=建国記念の日
#holiday.建国記念の日.date=20130211
#holiday.春分の日.name=春分の日
#holiday.春分の日.date=20130320
#holiday.昭和の日.name=昭和の日
#holiday.昭和の日.date=20130429
#holiday.憲法記念日.name=憲法記念日
#holiday.憲法記念日.date=20130503
#holiday.みどりの日.name=みどりの日
#holiday.みどりの日.date=20130504
#holiday.こどもの日.name=こどもの日
#holiday.こどもの日.date=20130505
#holiday.振替休日.name=振替休日
#holiday.振替休日.date=20130506
#holiday.海の日.name=海の日
#holiday.海の日.date=20130715
#holiday.敬老の日.name=敬老の日
#holiday.敬老の日.date=20130919
#holiday.秋分の日.name=秋分の日
#holiday.秋分の日.date=20130923
#holiday.体育の日.name=体育の日
#holiday.体育の日.date=20131014
#holiday.文化の日.name=文化の日
#holiday.文化の日.date=20131103
#holiday.振替休日.name=振替休日
#holiday.振替休日.date=20131104
#holiday.勤労感謝の日.name=勤労感謝の日
#holiday.勤労感謝の日.date=20131123
#holiday.天皇誕生日.name=天皇誕生日
#holiday.天皇誕生日.date=20131223

