################################################################################
# Sample calendar for Sweden
#
# taskwarrior - a command line task list manager.
#
# Copyright 2010 - 2011, Federico Hernandez.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the
#
#     Free Software Foundation, Inc.,
#     51 Franklin Street, Fifth Floor,
#     Boston, MA
#     02110-1301
#     USA
#
################################################################################

calendar.holidays=sparse

# 2011
holiday.nyårsdagen.name=Nyårsdagen
holiday.nyårsdagen.date=20110101
holiday.trettondedagjul.name=Trettondedag jul
holiday.trettondedagjul.date=20110106
holiday.långfredagen.name=Långfredagen
holiday.långfredagen.date=20110422
holiday.påskdagen.name=Påskdagen
holiday.påskdagen.date=20110424
holiday.annandagpåsk.name=Annandag påsk
holiday.annandagpåsk.date=20110425
holiday.valborgmässoafton.name=Valborgmässoafton
holiday.valborgmässoafton.date=20110430
holiday.förstamaj.name=Första maj
holiday.förstamaj.date=20110501
holiday.kristihimmelfärdsdag.name=Kristi Himmelsfärdsdag
holiday.kristihimmelfärdsdag.date=20110602
holiday.nationaldagen.name=Nationaldagen
holiday.nationaldagen.date=20110606
holiday.pingstdagen.name=Pingstdagen
holiday.pingstdagen.date=20110612
holiday.midsommarafton.name=Midsommarafton
holiday.midsommarafton.date=20110624
holiday.midsommardagen.name=Midsommardagen
holiday.midsommardagen.date=20110625
holiday.allahelgonsdag.name=Alla Helgons Dag
holiday.allahelgonsdag.date=20111105
holiday.julafton.name=Julafton
holiday.julafton.date=20111224
holiday.juldagen.name=Juldagen
holiday.juldagen.date=20111225
holiday.annandagjul.name=Annandag jul
holiday.annandagjul.date=20111226
holiday.nyårsafton.name=Nyårsafton
holiday.nyårsafton.date=20111231
