###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/en-GB/2012.json
# http://holidata.net/en-GB/2013.json
#
# Copyright 2006-2012, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.en-GB1.name=New Year's Day
holiday.en-GB1.date=2012-01-01
holiday.en-GB2.name=New Year's Day Holiday
holiday.en-GB2.date=2012-01-02
holiday.en-GB3.name=Good Friday
holiday.en-GB3.date=2012-04-06
holiday.en-GB4.name=Easter Monday
holiday.en-GB4.date=2012-04-09
holiday.en-GB5.name=Early May Bank Holiday
holiday.en-GB5.date=2012-05-07
holiday.en-GB6.name=Spring Bank Holiday
holiday.en-GB6.date=2012-06-04
holiday.en-GB7.name=Queen's Diamond Jubilee
holiday.en-GB7.date=2012-06-05
holiday.en-GB8.name=August Bank Holiday
holiday.en-GB8.date=2012-08-27
holiday.en-GB9.name=Christmas Day
holiday.en-GB9.date=2012-12-25
holiday.en-GB10.name=Boxing Day
holiday.en-GB10.date=2012-12-26
holiday.en-GB11.name=New Year's Day
holiday.en-GB11.date=2013-01-01
holiday.en-GB12.name=Good Friday
holiday.en-GB12.date=2013-03-29
holiday.en-GB13.name=Easter Monday
holiday.en-GB13.date=2013-04-01
holiday.en-GB14.name=Early May Bank Holiday
holiday.en-GB14.date=2013-05-06
holiday.en-GB15.name=Spring Bank Holiday
holiday.en-GB15.date=2013-05-27
holiday.en-GB16.name=August Bank Holiday
holiday.en-GB16.date=2013-08-26
holiday.en-GB17.name=Christmas Day
holiday.en-GB17.date=2013-12-25
holiday.en-GB18.name=Boxing Day
holiday.en-GB18.date=2013-12-26
