###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/cs-CZ/2015.json
# http://holidata.net/cs-CZ/2016.json
#
# Copyright 2006 - 2016, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.cs-CZ1.name=Nový rok
holiday.cs-CZ1.date=20150101
holiday.cs-CZ2.name=Den obnovy samostatnosti českého státu
holiday.cs-CZ2.date=20150101
holiday.cs-CZ3.name=Velikonoční pondělí
holiday.cs-CZ3.date=20150406
holiday.cs-CZ4.name=Svátek práce
holiday.cs-CZ4.date=20150501
holiday.cs-CZ5.name=Den vítězství
holiday.cs-CZ5.date=20150508
holiday.cs-CZ6.name=Den slovanských věrozvěstů
holiday.cs-CZ6.date=20150705
holiday.cs-CZ7.name=Den upálení mistra Jana Husa
holiday.cs-CZ7.date=20150706
holiday.cs-CZ8.name=Den české státnosti
holiday.cs-CZ8.date=20150928
holiday.cs-CZ9.name=Den vzniku samostatného československého státu
holiday.cs-CZ9.date=20151028
holiday.cs-CZ10.name=Den boje za svobodu a demokracii
holiday.cs-CZ10.date=20151117
holiday.cs-CZ11.name=Štědrý den
holiday.cs-CZ11.date=20151224
holiday.cs-CZ12.name=1. svátek vánoční
holiday.cs-CZ12.date=20151225
holiday.cs-CZ13.name=2. svátek vánoční
holiday.cs-CZ13.date=20151226
holiday.cs-CZ14.name=Nový rok
holiday.cs-CZ14.date=20160101
holiday.cs-CZ15.name=Den obnovy samostatnosti českého státu
holiday.cs-CZ15.date=20160101
holiday.cs-CZ16.name=Velikonoční pondělí
holiday.cs-CZ16.date=20160328
holiday.cs-CZ17.name=Svátek práce
holiday.cs-CZ17.date=20160501
holiday.cs-CZ18.name=Den vítězství
holiday.cs-CZ18.date=20160508
holiday.cs-CZ19.name=Den slovanských věrozvěstů
holiday.cs-CZ19.date=20160705
holiday.cs-CZ20.name=Den upálení mistra Jana Husa
holiday.cs-CZ20.date=20160706
holiday.cs-CZ21.name=Den české státnosti
holiday.cs-CZ21.date=20160928
holiday.cs-CZ22.name=Den vzniku samostatného československého státu
holiday.cs-CZ22.date=20161028
holiday.cs-CZ23.name=Den boje za svobodu a demokracii
holiday.cs-CZ23.date=20161117
holiday.cs-CZ24.name=Štědrý den
holiday.cs-CZ24.date=20161224
holiday.cs-CZ25.name=1. svátek vánoční
holiday.cs-CZ25.date=20161225
holiday.cs-CZ26.name=2. svátek vánoční
holiday.cs-CZ26.date=20161226
