###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/de-DE/2012.json
# http://holidata.net/de-DE/2013.json
#
# Copyright 2006-2012, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.de-DE1.name=Neujahr
holiday.de-DE1.date=20120101
holiday.de-DE2.name=Heilige drei Könige
holiday.de-DE2.date=20120106
holiday.de-DE3.name=Heilige drei Könige
holiday.de-DE3.date=20120106
holiday.de-DE4.name=Heilige drei Könige
holiday.de-DE4.date=20120106
holiday.de-DE5.name=Karfreitag
holiday.de-DE5.date=20120406
holiday.de-DE6.name=Ostern
holiday.de-DE6.date=20120408
holiday.de-DE7.name=Ostermontag
holiday.de-DE7.date=20120409
holiday.de-DE8.name=Erster Maifeiertag
holiday.de-DE8.date=20120501
holiday.de-DE9.name=Christi Himmelfahrt
holiday.de-DE9.date=20120517
holiday.de-DE10.name=Pfingstsonntag
holiday.de-DE10.date=20120527
holiday.de-DE11.name=Pfingstmontag
holiday.de-DE11.date=20120528
holiday.de-DE12.name=Fronleichnam
holiday.de-DE12.date=20120607
holiday.de-DE13.name=Fronleichnam
holiday.de-DE13.date=20120607
holiday.de-DE14.name=Fronleichnam
holiday.de-DE14.date=20120607
holiday.de-DE15.name=Fronleichnam
holiday.de-DE15.date=20120607
holiday.de-DE16.name=Fronleichnam
holiday.de-DE16.date=20120607
holiday.de-DE17.name=Fronleichnam
holiday.de-DE17.date=20120607
holiday.de-DE18.name=Mariä Himmelfahrt
holiday.de-DE18.date=20120815
holiday.de-DE19.name=Tag der Deutschen Einheit
holiday.de-DE19.date=20121003
holiday.de-DE20.name=Reformationstag
holiday.de-DE20.date=20121031
holiday.de-DE21.name=Reformationstag
holiday.de-DE21.date=20121031
holiday.de-DE22.name=Reformationstag
holiday.de-DE22.date=20121031
holiday.de-DE23.name=Reformationstag
holiday.de-DE23.date=20121031
holiday.de-DE24.name=Reformationstag
holiday.de-DE24.date=20121031
holiday.de-DE25.name=Allerheiligen
holiday.de-DE25.date=20121101
holiday.de-DE26.name=Allerheiligen
holiday.de-DE26.date=20121101
holiday.de-DE27.name=Allerheiligen
holiday.de-DE27.date=20121101
holiday.de-DE28.name=Allerheiligen
holiday.de-DE28.date=20121101
holiday.de-DE29.name=Allerheiligen
holiday.de-DE29.date=20121101
holiday.de-DE30.name=Buss und Bettag
holiday.de-DE30.date=20121121
holiday.de-DE31.name=Heilig Abend
holiday.de-DE31.date=20121224
holiday.de-DE32.name=Weihnachtstag
holiday.de-DE32.date=20121225
holiday.de-DE33.name=Zweiter Weihnachtstag
holiday.de-DE33.date=20121226
holiday.de-DE34.name=Sylvester
holiday.de-DE34.date=20121231
holiday.de-DE35.name=Neujahr
holiday.de-DE35.date=20130101
holiday.de-DE36.name=Heilige drei Könige
holiday.de-DE36.date=20130106
holiday.de-DE37.name=Heilige drei Könige
holiday.de-DE37.date=20130106
holiday.de-DE38.name=Heilige drei Könige
holiday.de-DE38.date=20130106
holiday.de-DE39.name=Karfreitag
holiday.de-DE39.date=20130329
holiday.de-DE40.name=Ostern
holiday.de-DE40.date=20130331
holiday.de-DE41.name=Ostermontag
holiday.de-DE41.date=20130401
holiday.de-DE42.name=Erster Maifeiertag
holiday.de-DE42.date=20130501
holiday.de-DE43.name=Christi Himmelfahrt
holiday.de-DE43.date=20130509
holiday.de-DE44.name=Pfingstsonntag
holiday.de-DE44.date=20130519
holiday.de-DE45.name=Pfingstmontag
holiday.de-DE45.date=20130520
holiday.de-DE46.name=Fronleichnam
holiday.de-DE46.date=20130530
holiday.de-DE47.name=Fronleichnam
holiday.de-DE47.date=20130530
holiday.de-DE48.name=Fronleichnam
holiday.de-DE48.date=20130530
holiday.de-DE49.name=Fronleichnam
holiday.de-DE49.date=20130530
holiday.de-DE50.name=Fronleichnam
holiday.de-DE50.date=20130530
holiday.de-DE51.name=Fronleichnam
holiday.de-DE51.date=20130530
holiday.de-DE52.name=Mariä Himmelfahrt
holiday.de-DE52.date=20130815
holiday.de-DE53.name=Tag der Deutschen Einheit
holiday.de-DE53.date=20131003
holiday.de-DE54.name=Reformationstag
holiday.de-DE54.date=20131031
holiday.de-DE55.name=Reformationstag
holiday.de-DE55.date=20131031
holiday.de-DE56.name=Reformationstag
holiday.de-DE56.date=20131031
holiday.de-DE57.name=Reformationstag
holiday.de-DE57.date=20131031
holiday.de-DE58.name=Reformationstag
holiday.de-DE58.date=20131031
holiday.de-DE59.name=Allerheiligen
holiday.de-DE59.date=20131101
holiday.de-DE60.name=Allerheiligen
holiday.de-DE60.date=20131101
holiday.de-DE61.name=Allerheiligen
holiday.de-DE61.date=20131101
holiday.de-DE62.name=Allerheiligen
holiday.de-DE62.date=20131101
holiday.de-DE63.name=Allerheiligen
holiday.de-DE63.date=20131101
holiday.de-DE64.name=Buss und Bettag
holiday.de-DE64.date=20131120
holiday.de-DE65.name=Heilig Abend
holiday.de-DE65.date=20131224
holiday.de-DE66.name=Weihnachtstag
holiday.de-DE66.date=20131225
holiday.de-DE67.name=Zweiter Weihnachtstag
holiday.de-DE67.date=20131226
holiday.de-DE68.name=Sylvester
holiday.de-DE68.date=20131231
