###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/da-DK/2013.json
# http://holidata.net/da-DK/2014.json
#
# Copyright 2006-2013, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.da-DK1.name=Nytårsdag
holiday.da-DK1.date=20130101
holiday.da-DK2.name=Palmesøndag
holiday.da-DK2.date=20130324
holiday.da-DK3.name=Skærtorsdag
holiday.da-DK3.date=20130328
holiday.da-DK4.name=Langfredag
holiday.da-DK4.date=20130329
holiday.da-DK5.name=Påskedag
holiday.da-DK5.date=20130331
holiday.da-DK6.name=Anden påskedag
holiday.da-DK6.date=20130401
holiday.da-DK7.name=Store bededag
holiday.da-DK7.date=20130426
holiday.da-DK8.name=Kristi himmelfartsdag
holiday.da-DK8.date=20130509
holiday.da-DK9.name=Pinsedag
holiday.da-DK9.date=20130519
holiday.da-DK10.name=Anden pinsedag
holiday.da-DK10.date=20130520
holiday.da-DK11.name=Juledag
holiday.da-DK11.date=20131225
holiday.da-DK12.name=Anden juledag
holiday.da-DK12.date=20131226
