################################################################################
# Sample calendar for France
#
# taskwarrior - a command line task list manager.
#
# Copyright 2006-2012, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
################################################################################

calendar.holidays=sparse

# 2011
holiday.jourdelan.name=Jour de l'an
holiday.jourdelan.date=20110101
holiday.travail.name=Fête du premier mai
holiday.travail.date=20110501
holiday.victoire.name=la Fête de Victoire 45
holiday.victoire.date=20110508
holiday.ascencion.name=l'Ascencion
holiday.ascencion.date=20110602
holiday.pentecôte.name=la Pentecôte
holiday.pentecôte.date=20110612
holiday.bastille.name=Fête nationale
holiday.bastille.date=20110714
holiday.assomption.name=Assomption
holiday.assomption.date=20110815
holiday.toussaint.name=La Toussaint
holiday.toussaint.date=20111101
holiday.armistice.name=Jour d'armistice
holiday.armistice.date=20111111
holiday.noël.name=Noël
holiday.noël.date=20111225

