###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/en-CA/2012.json
# http://holidata.net/en-CA/2013.json
#
# Copyright 2006-2012, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.en-CA1.name=New Year's Day
holiday.en-CA1.date=2012-01-01
holiday.en-CA2.name=New Year's Day (obs.)
holiday.en-CA2.date=2012-01-02
holiday.en-CA3.name=Family Day
holiday.en-CA3.date=2012-02-20
holiday.en-CA4.name=Good Friday
holiday.en-CA4.date=2012-04-06
holiday.en-CA5.name=Easter Monday
holiday.en-CA5.date=2012-04-09
holiday.en-CA6.name=Victoria Day
holiday.en-CA6.date=2012-05-21
holiday.en-CA7.name=Canada Day
holiday.en-CA7.date=2012-07-01
holiday.en-CA8.name=Canada Day (obs.)
holiday.en-CA8.date=2012-07-02
holiday.en-CA9.name=First Monday of August
holiday.en-CA9.date=2012-08-06
holiday.en-CA10.name=Labour Day
holiday.en-CA10.date=2012-09-03
holiday.en-CA11.name=Thanksgiving Day
holiday.en-CA11.date=2012-10-08
holiday.en-CA12.name=Remembrance Day
holiday.en-CA12.date=2012-11-11
holiday.en-CA13.name=Christmas Day
holiday.en-CA13.date=2012-12-25
holiday.en-CA14.name=Boxing Day
holiday.en-CA14.date=2012-12-26
holiday.en-CA15.name=New Year's Eve
holiday.en-CA15.date=2012-12-31
holiday.en-CA16.name=New Year's Day
holiday.en-CA16.date=2013-01-01
holiday.en-CA17.name=Family Day
holiday.en-CA17.date=2013-02-18
holiday.en-CA18.name=Good Friday
holiday.en-CA18.date=2013-03-29
holiday.en-CA19.name=Easter Monday
holiday.en-CA19.date=2013-04-01
holiday.en-CA20.name=Victoria Day
holiday.en-CA20.date=2013-05-20
holiday.en-CA21.name=Canada Day
holiday.en-CA21.date=2013-07-01
holiday.en-CA22.name=First Monday of August
holiday.en-CA22.date=2013-08-05
holiday.en-CA23.name=Labour Day
holiday.en-CA23.date=2013-09-02
holiday.en-CA24.name=Thanksgiving Day
holiday.en-CA24.date=2013-10-14
holiday.en-CA25.name=Remembrance Day
holiday.en-CA25.date=2013-11-11
holiday.en-CA26.name=Christmas Day
holiday.en-CA26.date=2013-12-25
holiday.en-CA27.name=Boxing Day
holiday.en-CA27.date=2013-12-26
holiday.en-CA28.name=New Year's Eve
holiday.en-CA28.date=2013-12-31
