################################################################################
# Sample calendar for Germany
#
# taskwarrior - a command line task list manager.
#
# Copyright 2010 - 2011, Federico Hernandez.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the
#
#     Free Software Foundation, Inc.,
#     51 Franklin Street, Fifth Floor,
#     Boston, MA
#     02110-1301
#     USA
#
################################################################################

calendar.holidays=sparse

# 2011
holiday.neujahr.name=Neujahr
holiday.neujahr.date=20110101
holiday.heiligedreikonige.name=Heilige drei Könige (BW,BY,ST)
holiday.heiligedreikonige.date=20110106
holiday.karfreitag.name=Karfreitag
holiday.karfreitag.date=20110422
holiday.ostern.name=Ostern
holiday.ostern.date=20110424
holiday.ostermontag.name=Ostermontag
holiday.ostermontag.date=20110425
holiday.maifeiertag.name=Erster Maifeiertag
holiday.maifeiertag.date=20110501
holiday.christihimmelfahrt.name=Christi Himmelfahrt
holiday.christihimmelfahrt.date=20110602
holiday.pfingstsonntag.name=Pfingstsonntag
holiday.pfingstsonntag.date=20110612
holiday.pfingstmontag.name=Pfingstmontag
holiday.pfingstmontag.date=20110613
holiday.fronleichnam.name=Fronleichnam (BW,BY,HE,NRW,RP,SL,(SN,TH))
holiday.fronleichnam.date=20110623
holiday.mariahimmelfahrt.name=Mariä Himmelfahrt (SL)
holiday.mariahimmelfahrt.date=20110815
holiday.einheit.name=Tag der Deutschen Einheit
holiday.einheit.date=20111003
holiday.reformationstag.name=Reformationstag (BB,MV,SN,ST,TH)
holiday.reformationstag.date=20111031
holiday.allerheiligen.name=Allerheiligen (BW,BY,NRW,RP,SL)
holiday.allerheiligen.date=20111101
holiday.bussundbettag.name=Buss und Bettag (SN)
holiday.bussundbettag.date=20111116
holiday.heiligabend.name=Heilig Abend
holiday.heiligabend.date=20111224
holiday.weihnachtstag.name=Weihnachtstag
holiday.weihnachtstag.date=20111225
holiday.zweiterweihnachtstag.name=Zweiter Weihnachtstag
holiday.zweiterweihnachtstag.date=20111226
holiday.sylvester.name=Sylvester
holiday.sylvester.date=20111231
