###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/sv-SE/2012.json
# http://holidata.net/sv-SE/2013.json
#
# Copyright 2006-2012, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.sv-SE1.name=Nyårsdagen
holiday.sv-SE1.date=2012-01-01
holiday.sv-SE2.name=Trettondedag jul
holiday.sv-SE2.date=2012-01-06
holiday.sv-SE3.name=Långfredagen
holiday.sv-SE3.date=2012-04-06
holiday.sv-SE4.name=Påskdagen
holiday.sv-SE4.date=2012-04-08
holiday.sv-SE5.name=Annandag påsk
holiday.sv-SE5.date=2012-04-09
holiday.sv-SE6.name=Valborgmässoafton
holiday.sv-SE6.date=2012-04-30
holiday.sv-SE7.name=Första maj
holiday.sv-SE7.date=2012-05-01
holiday.sv-SE8.name=Kristi Himmelsfärdsdag
holiday.sv-SE8.date=2012-05-17
holiday.sv-SE9.name=Pingstdagen
holiday.sv-SE9.date=2012-05-27
holiday.sv-SE10.name=Nationaldagen
holiday.sv-SE10.date=2012-06-06
holiday.sv-SE11.name=Midsommarafton
holiday.sv-SE11.date=2012-06-22
holiday.sv-SE12.name=Midsommardagen
holiday.sv-SE12.date=2012-06-23
holiday.sv-SE13.name=Alla Helgons Dag
holiday.sv-SE13.date=2012-11-03
holiday.sv-SE14.name=Julafton
holiday.sv-SE14.date=2012-12-24
holiday.sv-SE15.name=Juldagen
holiday.sv-SE15.date=2012-12-25
holiday.sv-SE16.name=Annandag jul
holiday.sv-SE16.date=2012-12-26
holiday.sv-SE17.name=Nyårsafton
holiday.sv-SE17.date=2012-12-31
holiday.sv-SE18.name=Nyårsdagen
holiday.sv-SE18.date=2013-01-01
holiday.sv-SE19.name=Trettondedag jul
holiday.sv-SE19.date=2013-01-06
holiday.sv-SE20.name=Långfredagen
holiday.sv-SE20.date=2013-03-29
holiday.sv-SE21.name=Påskdagen
holiday.sv-SE21.date=2013-03-31
holiday.sv-SE22.name=Annandag påsk
holiday.sv-SE22.date=2013-04-01
holiday.sv-SE23.name=Valborgmässoafton
holiday.sv-SE23.date=2013-04-30
holiday.sv-SE24.name=Första maj
holiday.sv-SE24.date=2013-05-01
holiday.sv-SE25.name=Kristi Himmelsfärdsdag
holiday.sv-SE25.date=2013-05-09
holiday.sv-SE26.name=Pingstdagen
holiday.sv-SE26.date=2013-05-19
holiday.sv-SE27.name=Nationaldagen
holiday.sv-SE27.date=2013-06-06
holiday.sv-SE28.name=Midsommarafton
holiday.sv-SE28.date=2013-06-21
holiday.sv-SE29.name=Midsommardagen
holiday.sv-SE29.date=2013-06-22
holiday.sv-SE30.name=Alla Helgons Dag
holiday.sv-SE30.date=2013-11-02
holiday.sv-SE31.name=Julafton
holiday.sv-SE31.date=2013-12-24
holiday.sv-SE32.name=Juldagen
holiday.sv-SE32.date=2013-12-25
holiday.sv-SE33.name=Annandag jul
holiday.sv-SE33.date=2013-12-26
holiday.sv-SE34.name=Nyårsafton
holiday.sv-SE34.date=2013-12-31
