################################################################################
# Sample calendar for Belarus
#
# taskwarrior - a command line task list manager.
#
# Copyright 2006-2011, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
################################################################################

calendar.holidays=sparse

# 2011
holiday.newyearsday.name=Новы Год
holiday.newyearsday.date=20110101
holiday.ortodoxcristmasday.name=Раство Хрыстова(праваслаўнае)
holiday.ortodoxcristmasday.date=20110107
holiday.independenceday.name=Дзень незалежнаці
holiday.independenceday.date=20110703
holiday.womensday.name=Міжнародны жаночы дзень
holiday.womensday.date=20110308
holiday.eastern.name=Пасха
holiday.eastern.date=20110424
holiday.labourday.name=Свята працы
holiday.labourday.date=20110501
holiday.radunica.name=Радуніца
holiday.radunica.date=20110503
holiday.winday.name=Дзень Перамогі
holiday.winday.date=20110509
holiday.independence.name=Дзень Незалежнасці
holiday.independence.date=20110703
holiday.octoberrevolution.name=Дзень Кастрычніцкай рэвалюцыі
holiday.octoberrevolution.date=20111107
holiday.westchristmasday.name=Раство Хрыстова(у заходніх хрысціян)
holiday.westchristmasday.date=20111225

# 2012
#holiday.newyearsday.name=Новы Год
#holiday.newyearsday.date=20120101
#holiday.ortodoxcristmasday.name=Раство Хрыстова(праваслаўнае)
#holiday.ortodoxcristmasday.date=20120107
#holiday.independenceday.name=Дзень незалежнаці
#holiday.independenceday.date=20120703
#holiday.womensday.name=Міжнародны жаночы дзень
#holiday.womensday.date=20120308
#holiday.eastern.name=Пасха
#holiday.eastern.date=20120415
#holiday.radunica.name=Радуніца
#holiday.radunica.date=20120424
#holiday.labourday.name=Свята працы
#holiday.labourday.date=20120501
#holiday.winday.name=Дзень Перамогі
#holiday.winday.date=20120509
#holiday.independence.name=Дзень Незалежнасці
#holiday.independence.date=20120703
#holiday.octoberrevolution.name=Дзень Кастрычніцкай рэвалюцыі
#holiday.octoberrevolution.date=20121107
#holiday.westchristmasday.name=Раство Хрыстова(у заходніх хрысціян)
#holiday.westchristmasday.date=20121225
