###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/sv-SE/2015.json
# http://holidata.net/sv-SE/2016.json
#
# Copyright 2006 - 2016, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.sv-SE1.name=Nyårsdagen
holiday.sv-SE1.date=20150101
holiday.sv-SE2.name=Trettondedag jul
holiday.sv-SE2.date=20150106
holiday.sv-SE3.name=Långfredagen
holiday.sv-SE3.date=20150403
holiday.sv-SE4.name=Påskdagen
holiday.sv-SE4.date=20150405
holiday.sv-SE5.name=Annandag påsk
holiday.sv-SE5.date=20150406
holiday.sv-SE6.name=Valborgmässoafton
holiday.sv-SE6.date=20150430
holiday.sv-SE7.name=Första maj
holiday.sv-SE7.date=20150501
holiday.sv-SE8.name=Kristi Himmelsfärdsdag
holiday.sv-SE8.date=20150514
holiday.sv-SE9.name=Pingstdagen
holiday.sv-SE9.date=20150524
holiday.sv-SE10.name=Nationaldagen
holiday.sv-SE10.date=20150606
holiday.sv-SE11.name=Midsommarafton
holiday.sv-SE11.date=20150619
holiday.sv-SE12.name=Midsommardagen
holiday.sv-SE12.date=20150620
holiday.sv-SE13.name=Alla Helgons Dag
holiday.sv-SE13.date=20151031
holiday.sv-SE14.name=Julafton
holiday.sv-SE14.date=20151224
holiday.sv-SE15.name=Juldagen
holiday.sv-SE15.date=20151225
holiday.sv-SE16.name=Annandag jul
holiday.sv-SE16.date=20151226
holiday.sv-SE17.name=Nyårsafton
holiday.sv-SE17.date=20151231
holiday.sv-SE18.name=Nyårsdagen
holiday.sv-SE18.date=20160101
holiday.sv-SE19.name=Trettondedag jul
holiday.sv-SE19.date=20160106
holiday.sv-SE20.name=Långfredagen
holiday.sv-SE20.date=20160325
holiday.sv-SE21.name=Påskdagen
holiday.sv-SE21.date=20160327
holiday.sv-SE22.name=Annandag påsk
holiday.sv-SE22.date=20160328
holiday.sv-SE23.name=Valborgmässoafton
holiday.sv-SE23.date=20160430
holiday.sv-SE24.name=Första maj
holiday.sv-SE24.date=20160501
holiday.sv-SE25.name=Kristi Himmelsfärdsdag
holiday.sv-SE25.date=20160505
holiday.sv-SE26.name=Pingstdagen
holiday.sv-SE26.date=20160515
holiday.sv-SE27.name=Nationaldagen
holiday.sv-SE27.date=20160606
holiday.sv-SE28.name=Midsommarafton
holiday.sv-SE28.date=20160624
holiday.sv-SE29.name=Midsommardagen
holiday.sv-SE29.date=20160625
holiday.sv-SE30.name=Alla Helgons Dag
holiday.sv-SE30.date=20161105
holiday.sv-SE31.name=Julafton
holiday.sv-SE31.date=20161224
holiday.sv-SE32.name=Juldagen
holiday.sv-SE32.date=20161225
holiday.sv-SE33.name=Annandag jul
holiday.sv-SE33.date=20161226
holiday.sv-SE34.name=Nyårsafton
holiday.sv-SE34.date=20161231
