<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pages-trunk-20080703_5</string>
	<string>pages-trunk-20080829_1</string>
	<string>pages-trunk-20080921_1</string>
	<string>local build-Jul  1 2011</string>
	<string>local build-Nov 15 2011</string>
	<string>local build-Jul  1 2011</string>
	<string>local build-Jun 29 2012</string>
	<string>local build-Oct 16 2012</string>
	<string>M5.0.1-1478-1</string>
</array>
</plist>
