body {
	text-align: center;
	margin: 0; padding: 1em;
}

#container {
	width: 740px;
	text-align: left;
	margin: 0 auto; padding: 0;
}

#header {
	height: 60px;
	margin: 0 0 15px; padding: 0;
}

#page {}

#content {
	width: 500px;
}

#header a:link,
#header a:visited {
	color:#000;
	text-decoration: none;
}

#header h1 {
	font: bold 400% georgia, serif;
	letter-spacing: -1px;
	margin: 0;
	float: left;
}

#header h2 {
	font: normal 12px verdana, arial, sans-serif;
	margin: 2.5em 0 0 0.8em;
	float: left;
}

#content {}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5 {
	font-family: "lucidamac bold", "lucida grande", arial, sans-serif;
	letter-spacing: -1px;
}

#content h1 {
	font-size: 24px;
}

#content h2 {
	font-size: 22px;
	border-bottom: 1px dotted #000;
}

#content h3 {
	font-size: 20px;
	border-bottom: 1px dotted #bbb;
}

#content h4 {
	font-size: 18px;
	border-bottom: 1px dotted #bbb;
}

#content h5 {
	font-size: 18px;
	background: #ffd;
	border-bottom: 1px dotted #bbb;
}

#content p {
	line-height: 15px;
}

#content ul,
#content ol {
}

#content code {
	font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
}

#content pre {
	color: #63FF00;
	background: #000;
	overflow: auto;
	font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
	margin: 0.9em 0; padding: 8px;
}

dt {
	font: bold 14px "lucida grande", verdana, arial, helvetica, sans-serif;
}

dd {
}

body {
	font: normal 12px "lucida grande", verdana, arial, helvetica, sans-serif;
}

.small {
	font: normal 10px verdana, arial, sans-serif;
}

.table_h {
        background-color: #e0e0e0;
}

.table_d {
        background-color: #f7f7f7;
}
input,
textarea { font: normal 12px "bitstream vera sans", verdana, sans-serif; }

abbr  { border: none; }
cite  { font-style: normal; }
a img { border: none; padding: 0; margin: 0; }

